.like-dislike-container  {
    display: inline;

}

.like {
    color:#00FF00;
}

.dislike {
    color:#FF0000;
}
.square {
    width: 200px;
    height: 180px;
    /*background-color: #212121;*/
}
.link_user_square{
  text-decoration: none;
}

#square-list{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

#sidebar-left h4 {
    margin: 5px 0;
}

#sidebar-left img{
    width: 120px;
    margin-left: 30px;
    border-radius: 50%;

}

#sidebar-left #change_avatar{
    margin-left: 15px;

}


#sidebar-left input[type="file"] {
    display: none;
}
#sidebar-left .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 2px 8px;
    cursor: pointer;
}
#sidebar-left .custom-file-upload:hover{
    background-color: #ccc;
}
